<!--IE Structure-->
<div role="tabpanel" class="tab-pane step_content" id="edit_ie_structure" style="margin-top: -60px;">
  <input type="hidden" id="edit_diagram_id" value="<%= @project_item.diagram.id %>">

  <div class="row structure-title" style="margin: 0;border-bottom: 1px solid #23B7E5;">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div id="myPaletteDiv"></div>
    </div>
    <div class="col-lg-6 col-mc-6 col-sm-6 col-xs-12" style="text-align: right; padding-right: 26px;">
      <button id="loadModel" class="btn-flat-success" onclick="load()" style="width: 140px; height: 40px; margin-top:8px;">Load</button>
      <button id="saveModal" class="btn-flat-success" style="width: 140px; height: 40px; margin-top:8px;">Save</button>

      <button id="hideTree" style="background:none;border:none;outline:none;color:orange;" title="隐藏树">
        <i class="glyphicon glyphicon-align-justify"></i>
      </button>
    </div>
  </div>

  <div class="structure-content">
    <div style="display: inline-block; padding: 5px; width:80%;">
      <div id="myDiagramDiv" style="border: 1px solid #23B7E5;"></div>
    </div>
    <div style="display: inline-block; padding: 5px; width:18%">
      <div id="myTreeView" style="border: solid 1px #23B7E5;"></div>
    </div>
  </div>

  <!--will display-->
  <textarea id="mySavedModel" style="display: none; width:100%;height:300px;margin-top: 100px;"></textarea>
</div>

<script type="text/javascript" charset="utf-8">
  /******************************************************************************
   IE Structure
   ******************************************************************************/
  var ScreenHeight = $(window).height();
  var ScreenWidth = $(window).width();
  var myDiagram = "";

  $('#myDiagramDiv').css({height: (ScreenHeight * 0.67) + 'px'});
  $('#myTreeView').css({height: (ScreenHeight * 0.67) + 'px'});

  $('#saveModal').click(function () {
    save();
    window.location.href = "http://" + window.location.host + "/projects/" + <%= @project_item.project.id %>;
  });

  var ready;

  ready = function () {
    $.ajax({
      url: "/project_items/" + '<%= @project_item.id %>' + '/nodes',
      type: 'get',
      dateType: 'json',
      success: function (data) {
        console.log(data);
        if (data.result) {
          Settings.round_layout('<%= @project_item.diagram.id %>');
          Settings.hideTree();
          $('#round_diagram_id').val(data.diagram.id);
          $('#mySavedModel').val(data.diagram.layout);

          myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
          myTreeView.model.nodeDataArray = myDiagram.model.nodeDataArray;
        } else {
          $('<div>' + data.content + '</div>').notifyModal();
        }
      },
      error: function () {
        console.log("Something Error!");
      }
    });
  };

  /*Rails 5 使用Ｔｕｒｂｌｉｎｋ*/
  $(document).ready(ready);
  $(document).on('page:load', ready);

  function load() {
    save();
    myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
    myTreeView.model.nodeDataArray = myDiagram.model.nodeDataArray;
    myTreeView.model.undoManager = myDiagram.model.undoManager;
  }

  function save() {
    document.getElementById("mySavedModel").value = myDiagram.model.toJson();

    myDiagram.isModified = false;

    $.ajax({
      url: '/diagrams/' + <%= @diagram.id %>,
      type: 'put',
      async: false,
      dataType: 'json',
      data: {
        parse: true,
        diagram: {
          layout: myDiagram.model.toJson()
        }
      }
    });
  }
</script>