<h1>hello details</h1>

<h1>Kpi Entries</h1>


<table class="table table-bordered table-striped globle-table">
  <thead>
  <tr>
    <th>NO.</th>
    <th>kpi_id</th>
    <th>project_item_id</th>
    <th>node_id</th>
    <th>node_code</th>
    <th>node_uuid</th>
    <th>value</th>
    <th>entry_at</th>
  </tr>
  </thead>

  <tbody>
  <% @kpi_entries.each do |ke| %>
      <tr>
        <td><%= ke.id %></td>
        <td><%= ke.kpi_id %></td>
        <td><%= ke.project_item_id %></td>
        <td><%= ke.node_id %></td>
        <td><%= ke.node_code %></td>
        <td><%= ke.node_uuid %></td>
        <td><%= ke.value %></td>
        <td><%= ke.entry_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>