<style>
  a:hover, a:active {
    color: white;
    background-color: white;
  }
</style>

<p id="notice"><%= notice %></p>

<!--TODO: 通过Status判断进行显示-->

<div id="accordion" role="tablist" aria-multiselectable="true">
  <blockquote>
    <h4 role="tab" id="improvePanel">
      <a role="button" class="improve-collapse hvr-bounce-in" href="#improveCollapse" data-toggle="collapse"
         data-parent="#accordion" aria-expanded="true" aria-controls="improveCollapse">
        <i class="glyphicon glyphicon-chevron-down"></i>
      </a>
      &nbsp;
      我的待改善项目
    </h4>
  </blockquote>

  <div class="container panel-collapse collapse in" id="improveCollapse" role="tabpanel" aria-labelledby="improvePanel">
    <% @projects.each do |project| %>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <!-- declear improve  -->
          <div class="improve-rectangle">
            <!-- font show -->
            <div class="improve-font">
              <div class="improve-name" title="<%= project.name %>" data-toggle="tooltip">
                <%= project.name %>
              </div>
              <div class="improve-desc" title="<%= project.description %>" data-toggle="tooltip">
                <%= project.description %>
              </div>
            </div>
            <hr style="margin-top: 10px;"/>
            <!-- icon show -->
            <div class="improve-icon">
              <div class="improve-lock-icon">
                <i class="glyphicon glyphicon-lock" title="Lock Project" data-toggle="tooltip"></i>
              </div>

              <div class="improve-edit-icon">
                <i class="glyphicon glyphicon-pencil edit-improve" title="Edit Project Info" data-toggle="tooltip"></i>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    <!--add improve-->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="improve-rectangle">
        <div class="improve-font hvr-bounce-in">
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-plus', :style => 'font-size: 4em;color: #34495E;margin-top:20px;'), new_project_path %>
        </div>
        <hr style="margin-top: 10px;">
        <div>
          新增项目
        </div>
      </div>
    </div>
  </div>

  <blockquote>
    <h4 role="tab" id="completePanel">
      <a role="button" class="improve-collapse hvr-bounce-in" href="#completeCollapse" data-toggle="collapse"
         data-parent="#accordion" aria-expanded="false" aria-controls="completePanel">
        <i class="glyphicon glyphicon-chevron-up"></i>
      </a>
      &nbsp;
      已完成项目
    </h4>
  </blockquote>

  <div class="container panel-collapse collapse" id="completeCollapse" role="tabpanel" aria-labelledby="completePanel">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
      <div class="complete-rectangle hvr-overline-from-center">
        <div class="finish-ribbon">
          <span>已完成</span>
        </div>
        <!-- icon show -->
        <div class="complete-icon hvr-bounce-in" id="2016001" title="打开项目" data-toggle="tooltip" data-placement="bottom">
          <i class="glyphicon glyphicon-lock"></i>
        </div>
        <hr style="margin:10px;">
        <!--font show-->
        <div class="complete-font" title="IE 工程项目" data-toggle="tooltip">
          IE 工程项目
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
      <div class="complete-rectangle hvr-overline-from-center">
        <div class="finish-ribbon">
          <span>已完成</span>
        </div>
        <!-- icon show -->
        <div class="complete-icon hvr-bounce-in" id="2016002" title="打开项目" data-toggle="tooltip" data-placement="bottom">
          <i class="glyphicon glyphicon-lock"></i>
        </div>
        <hr style="margin:10px;">
        <!--font show-->
        <div class="complete-font" title="IE 工程项目" data-toggle="tooltip">
          IE 工程项目
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
      <div class="complete-rectangle hvr-overline-from-center">
        <div class="finish-ribbon">
          <span>已完成</span>
        </div>
        <!-- icon show -->
        <div class="complete-icon hvr-bounce-in" id="2016003" title="打开项目" data-toggle="tooltip" data-placement="bottom">
          <i class="glyphicon glyphicon-lock"></i>
        </div>
        <hr style="margin:10px;">
        <!--font show-->
        <div class="complete-font" title="IE 工程项目" data-toggle="tooltip">
          IE 工程项目
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <footer class="pull-right">
        <button class="btn-more-finish btn-flat-primary">查看更多已完成项目</button>
      </footer>
    </div>
  </div>
</div>

<!--For improve edit-->
<div style="display:none">
  <div id="project_content">
    <div class="popModal_content">
      <input id="edit_project_name" type="text" class="form-control" placeholder="improve name" value="">
      <textarea id="edit_project_des" style="margin-top: 10px; resize: none;" class="form-control" placeholder="Project Description"></textarea>
    </div>

    <div class="popModal_footer">
      <button type="button" class="btn-more-finish btn-flat-primary" data-popModalBut="ok">Finish</button>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('.improve-collapse').click(function () {
    var Class = $(this).children().attr('class');
    if (Class == "glyphicon glyphicon-chevron-down") {
      $(this).children().attr('class', 'glyphicon glyphicon-chevron-up')
    } else if (Class == "glyphicon glyphicon-chevron-up") {
      $(this).children().attr('class', 'glyphicon glyphicon-chevron-down')
    } else {
      $(this).children().attr('class', 'glyphicon glyphicon-chevron-down')
    }
  });

  $('.edit-improve').click(function () {
    var Font = $(this).parent().parent().parent().find('.improve-name').html().trim();
    $(this).popModal({
      html: $('#project_content').html(),
    });
  });

  $('.complete-icon').click(function () {
    alert($(this).attr('id'));
  });

  $('.btn-more-finish').click(function () {
    alert("Get More");
  });
</script>
