<style>
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #f5f5f5;
  }

  .label-primary {
    margin-right: 5px;
  }
</style>

<ul class="nav nav-tabs " role="tablist" style="margin-top:-10px; margin-left:-30px;">
  <li role="presentation" class="active">
    <a href="#dashboard_show" aria-controls="dashboard_show" role="tab" data-toggle="tab">Dashboard</a>
  </li>
  <li role="presentation">
    <a href="#project_show" aria-controls="project_show" role="tab" data-toggle="tab">Project</a>
  </li>
</ul>

<div class="tab-content">
  <!--Project-->
  <div role="tabpanel" class="tab-pane" id="project_show">
    <!--Basic-->
    <div class="panel panel-primary" style="margin-top:20px;border: none;">
      <div class="panel-heading" style="background: #23B7E5;">
        <h4><%= @project.name %> Basic Information</h4>
        <div class="pull-right" style="margin-top: -25px; font-size: 1.3em;cursor: pointer;">
          <i class="glyphicon glyphicon-minus-sign hvr-bounce-out" style="margin-right: 20px;" data-toggle="collapse"
             data-target="#project_show_info" aria-controls="project_show_info"></i>
          <i class="glyphicon glyphicon-floppy-saved hvr-bounce-out project-info-save" style="margin-right: 20px;"></i>
        </div>
      </div>
      <div class="panel-body">
        <div class="collapse in" id="project_show_info">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" style="text-align:center; font-size:1.2em; font-weight:bold;">
              Project Name
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
              <input type="text" id="project_info_name" class="form-control" value="<%= @project.name %>">
            </div>
          </div>

          <div class="row" style="margin-top:20px; font-size:1.2em; font-weight:bold;">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" style="text-align:center;">
              Description
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
              <textarea class="form-control" name="" id="project_info_desc" cols="30" rows="10"><%= @project.description %></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Plan-->
    <div class="panel panel-primary" style="border: none;">
      <div class="panel-heading" style="background: #7266BA;">
        <h4><%= @project.name %> Plan</h4>
        <div class="pull-right" style="margin-top: -25px; font-size: 1.3em;cursor: pointer;">
          <i class="glyphicon glyphicon-minus-sign hvr-bounce-out" data-toggle="collapse" data-target="#project_show_plan" aria-controls="project_show_plan"></i>
          <i class="glyphicon glyphicon-plus-sign hvr-bounce-out project-plan-add" style="margin-left: 20px;margin-right: 20px;"></i>
        </div>
      </div>
      <div class="panel-body">
        <div class="collapse in" id="project_show_plan">
          <table class="table table-default table-hovered">
            <thead>
            <tr>
              <th>Name</th>
              <th>Date From</th>
              <th>Date To</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody class="plan-tbody">
            <% @project.plans.each do |plan| %>
                <tr id="<%= plan.id %>">
                  <td><%= plan.title %></td>
                  <td><%= plan.start_time %></td>
                  <td><%= plan.end_time %></td>
                  <td>
                    <i class="glyphicon glyphicon-pencil IconA project-plan-edit" style="color: #23B7E5;"></i>
                    <i class="glyphicon glyphicon-trash IconA project-plan-add" style="color: #F05050;"></i>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--Members-->
    <div class="panel panel-primary" style="border: none;">
      <div class="panel-heading" style="border: none;">
        <h4><%= @project.name %> Members</h4>
        <div class="pull-right" style="margin-top: -25px; font-size: 1.3em;cursor: pointer;">
          <i class="glyphicon glyphicon-minus-sign hvr-bounce-out" data-toggle="collapse" data-target="#project_show_members" aria-controls="project_show_members"></i>
          <i class="glyphicon glyphicon-plus-sign hvr-bounce-out" style="margin-left: 20px;margin-right: 20px;"></i>
        </div>
      </div>
      <div class="panel-body">
        <div class="collapse in" id="project_show_members">
          <table class="table table-hovered">
            <thead>
            <tr>
              <th>Email</th>
              <th>Role</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% @project.users.each do |user| %>
                <tr id="<%= user.id %>">
                  <td title="<%= user.name %>"><%= user.email %></td>
                  <td id="<%= user.role %>"><%= Role.display user.role %></td>
                  <td>
                    <i class="glyphicon glyphicon-pencil IconA hvr-bounce-out" style="color: #23B7E5;"></i>
                    <i class="glyphicon glyphicon-trash IconA hvr-bounce-out" style="color: #F05050;"></i>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--Dashboard-->
  <div role="tabpanel" class="tab-pane active" id="dashboard_show">
    <input type="hidden" id="round_item">

    <div id="left_round" style="position:absolute; top:120px; left:2px;background:transparent;width:100px;min-height: 600px;"></div>

    <div class="dashboard-options">
      <a href="#dashboard_options" class="wheel-button sw">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
      <ul id="dashboard_options" data-angle="NE" class="wheel">
        <li class="item">
          <a class="improve-round" title="Improve" style="cursor: pointer;">
            <i class="glyphicon glyphicon-adjust"></i>
          </a>
        </li>

        <li class="item"><a href="#" title="Compare">
          <i class="glyphicon glyphicon-stats"></i>
        </a>
        </li>

        <li class="item"><a href="#" title="Edit IE Structure">
          <i class="glyphicon glyphicon-th-large"></i>
        </a>
        </li>

        <li class="item"><a href="#" title="Edit KPI">
          <i class="glyphicon glyphicon-th-list"></i>
        </a></li>

        <li class="item"><a href="#" title="Mark Best">
          <i class="glyphicon glyphicon-star"></i>
        </a></li>
      </ul>
    </div>

    <!--Round -->
    <div style="margin-left:85px;">

      <!--Cycle time-->
      <div class="row">
        <div class="chart-title" style="margin-left: 15px;margin-right: 15px;">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-font">
            Cycle Time Chart
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-icon">
            <i class="glyphicon glyphicon-resize-vertical" style="transform:rotate(45deg);"></i>
            <i class="glyphicon glyphicon-refresh" style="color: steelblue;"></i>
            <i class="glyphicon glyphicon-cog" style="color: #7F8C8D;"></i>
          </div>
        </div>
        <div id="cycle_time_kpi_content"></div>
      </div>

      <!--HC-->
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="chart-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-font">
              Capacity Chart
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-icon">
              <i class="glyphicon glyphicon-resize-vertical" style="transform:rotate(45deg);"></i>
              <i class="glyphicon glyphicon-refresh" style="color: steelblue;"></i>
              <i class="glyphicon glyphicon-cog" style="color: #7F8C8D;"></i>
            </div>
          </div>
          <div id="capacity"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="chart-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-font">
              HC Chart
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-icon">
              <i class="glyphicon glyphicon-resize-vertical" style="transform:rotate(45deg);"></i>
              <i class="glyphicon glyphicon-refresh" style="color: steelblue;"></i>
              <i class="glyphicon glyphicon-cog" style="color: #7F8C8D;"></i>
            </div>
          </div>
          <div id="hc"></div>
        </div>
      </div>

      <!--E1-->
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="chart-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-font">
              HC Chart
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-icon">
              <i class="glyphicon glyphicon-resize-vertical" style="transform:rotate(45deg);"></i>
              <i class="glyphicon glyphicon-refresh" style="color: steelblue;"></i>
              <i class="glyphicon glyphicon-cog" style="color: #7F8C8D;"></i>
            </div>
          </div>
          <div id="e1"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="chart-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-font">
              HC Chart
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-icon">
              <i class="glyphicon glyphicon-resize-vertical" style="transform:rotate(45deg);"></i>
              <i class="glyphicon glyphicon-refresh" style="color: steelblue;"></i>
              <i class="glyphicon glyphicon-cog" style="color: #7F8C8D;"></i>
            </div>
          </div>
          <div id="lob"></div>
        </div>
      </div>

      <!--PDCA title-->
      <div class="row">
        <div class="pdca-title">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="label label-primary">PDCA</div>
          </div>
          <div class="pdca-title-icon col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <i class="IconA glyphicon glyphicon-plus-sign hvr-bounce-out md-trigger" data-modal="add_pdca" style="font-size: 2em; color: #1C75BF;"></i>
          </div>
        </div>
      </div>

      <!--Add PDCA-->
      <div class="md-modal md-effect-1" id="add_pdca">
        <div class="md-content">
          <h4>ADD PDCA</h4>
          <div class="pull-right md-close" style="margin-top: -50px;margin-right: -20px;">
            <i style="color: #E67E22;" class="glyphicon glyphicon-remove"></i>
          </div>

          <div class="pdca-list">
            <input type="text" class="form-control" id="pdca_item" placeholder="PDCA Item">

            <textarea type="text" id="pdca_point" class="form-control" placeholder="Imptovement Point" style="margin-top: 10px; margin-bottom: 10px;"></textarea>

            <textarea class="form-control" id="pdca_owner"></textarea>

            <input type="text" id="deadline" class="form-control date-picker" placeholder="Deadline" style="margin-top: 10px;">
          </div>

          <div class="pdca-btn">
            <button class="btn-flat-primary pdca-btn-add">
              ADD
            </button>
          </div>
        </div>
      </div>

      <div class="md-overlay"></div>

      <!--PDCA Show-->
      <div class="pdca">
        <table class="table table-default">
          <thead>
          <tr>
            <th>Item</th>
            <th>Improvement Point</th>
            <th>Owner</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Saving</th>
            <th>Remark</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody class="pdca-tbody">
          <% @project.project_items.each do |item| %>
              <% item.pdca_items.each do |pdca_item| %>
                  <tr id="<%= pdca_item.id %>">
                    <% if pdca_item.status==100 %>
                        <td><%= pdca_item.title %></td>
                        <td><%= pdca_item.content %></td>
                        <td>
                          <% pdca_item.task_users.each do |tu| %>
                              <span class="label label-primary" style="cursor: pointer;" title=" <%= tu.user.blank? ? '' : tu.user.email %>">
                                <%= tu.user.blank? ? '' : tu.user.name %>
                              </span>
                          <% end %>
                        </td>
                        <td><%= pdca_item.due_time %></td>
                        <td id="<%= pdca_item.status %>">
                          <span class="label label-success">
                            <%= TaskStatus.display pdca_item.status %></span>
                        </td>
                        <td><%= pdca_item.result %></td>
                        <td><%= pdca_item.remark %></td>
                        <td id="<%= pdca_item.id %>">
                          <i class="IconA glyphicon glyphicon-pencil edit-pdca md-trigger" data-modal="edit_pdca" style="color: steelblue;"></i>
                          <i class="IconA glyphicon glyphicon-remove-circle cancel-pdca md-trigger" data-modal="cancel_pdca" style="color: #16A085;"></i>
                          <i class="IconA glyphicon glyphicon-ok-sign finish-pdca md-trigger" data-modal="finish_pdca" style="color: #E67E22;"></i>
                        </td>

                        <!--200 finish-->

                    <% elsif pdca_item.status==200 %>
                        <td><%= pdca_item.title %></td>
                        <td><%= pdca_item.content %></td>
                        <td>
                          <% pdca_item.task_users.each do |tu| %>
                              <span class="label label-primary" title=" <%= tu.user.blank? ? '' : tu.user.email %>">
                                <%= tu.user.blank? ? '' : tu.user.name %>
                              </span>
                          <% end %>
                        </td>
                        <td><%= pdca_item.due_time %></td>
                        <td id="<%= pdca_item.status %>">
                          <span class="label label-primary">
                            <%= TaskStatus.display pdca_item.status %></span>
                        </td>
                        <td><%= pdca_item.result %></td>
                        <td><%= pdca_item.remark %></td>
                        <td></td>
                        <!--300 Cancel-->
                    <% elsif pdca_item.status==300 %>
                        <td>
                          <del> <%= pdca_item.title %></del>
                        </td>
                        <td>
                          <del><%= pdca_item.content %></del>
                        </td>
                        <td>
                          <% pdca_item.task_users.each do |tu| %>
                              <span class="label label-primary" title=" <%= tu.user.blank? ? '' : tu.user.email %>">
                                <del><%= tu.user.blank? ? '' : tu.user.name %></del>
                              </span>
                          <% end %>
                        </td>
                        <td>
                          <del><%= pdca_item.due_time %></del>
                        </td>
                        <td id="<%= pdca_item.status %>">
                          <span class="label label-warning">
                            <del><%= TaskStatus.display pdca_item.status %></del></span>
                        </td>
                        <td>
                          <del><%= pdca_item.result %></del>
                        </td>
                        <td>
                          <del><%= pdca_item.remark %></del>
                        </td>
                        <td></td>
                    <% end %>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>

      <!--Log title-->
      <div class="row">
        <div class="log-title">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="label label-warning">LOG</div>
          </div>
        </div>
      </div>

      <!--Log Show-->
      <div class="log">
        <div class="alert alert-success" role="alert">
          成功创建PDCA： 盲堵工位工作分配不均； 操作者： fuzhen.song
        </div>

        <div class="alert alert-warning" role="alert">
          修改PDCA： 盲堵工位工作分配不均； 操作者： fuzhen.song
        </div>

        <div class="alert alert-danger" role="alert">
          删除PDCA： 盲堵工位工作分配不均； 操作者： fuzhen.song
        </div>

        <div class="alert alert-info" role="alert">
          标记最优： 将本轮标记为最优； 操作者: fuzhen.song
        </div>
      </div>
    </div>
  </div>
</div>

<!--Edit PDCA-->
<div class="md-modal md-effect-1" id="edit_pdca">
  <div class="md-content">
    <h4>Edit PDCA</h4>
    <div class="pull-right md-close" style="margin-top: -50px;margin-right: -20px;">
      <i style="color: #E67E22;" class="glyphicon glyphicon-remove"></i>
    </div>

    <div class="pdca-list">
      <input type="hidden" id="edit_pdca_id">
      <input type="text" class="form-control" id="edit_pdca_item" placeholder="PDCA Item">

      <textarea type="text" id="edit_pdca_point" class="form-control" placeholder="Imptovement Point" style="margin-top: 10px; margin-bottom: 10px;"></textarea>

      <textarea class="form-control" id="edit_pdca_owner"></textarea>

      <input type="text" id="edit_deadline" class="form-control date-picker" placeholder="Deadline" style="margin-top: 10px;margin-bottom:10px;">
    </div>

    <div class="pdca-btn">
      <button class="btn-flat-primary pdca-btn-update">
        Update
      </button>
    </div>
  </div>
</div>

<!--Cancel PDCA-->
<div class="md-modal md-effect-1" id="cancel_pdca">
  <div class="md-content">
    <h4>Cancel PDCA</h4>
    <div class="pull-right md-close" style="margin-top: -50px;margin-right: -20px;">
      <i style="color: #E67E22;" class="glyphicon glyphicon-remove"></i>
    </div>

    <div class="pdca-list">
      <textarea type="text" id="cancel_pdca_remark" class="form-control" placeholder="Remark"></textarea>
    </div>

    <div class="pdca-btn">
      <button class="btn-flat-primary pdca-btn-cancel">
        Cancel
      </button>
    </div>
  </div>
</div>

<!--Finish PDCA-->
<div class="md-modal md-effect-1" id="finish_pdca">
  <div class="md-content">
    <h4>Finish PDCA</h4>
    <div class="pull-right md-close" style="margin-top: -50px;margin-right: -20px;">
      <i style="color: #E67E22;" class="glyphicon glyphicon-remove"></i>
    </div>

    <div class="pdca-list">
      <input type="text" id="finish_pdca_saving" class="form-control" placeholder="Saving">
      <textarea type="text" id="finish_pdca_remark" class="form-control" placeholder="Remark" style="margin-top: 10px; margin-bottom: 10px;"></textarea>
    </div>
    <div class="pdca-btn">
      <button class="btn-flat-primary pdca-btn-finish">
        Done
      </button>
    </div>
  </div>
</div>

<div class="md-overlay"></div>

<!--Plan-->
<div style="display:none">
  <div id="plan_content">
    <div class="popModal_content">
      <div class="input-group">
        <span class="input-group-addon" id="edit_plan_name_span">Name</span>
        <input id="edit_plan_name" class="form-control" placeholder="Plan Name" aria-describedby="edit_plan_name_span">
      </div>

      <div class="input-group" style="margin-top: 5px;margin-bottom: 5px;">
        <span class="input-group-addon" id="edit_date_from_span">From</span>
        <input id="edit_date_from" class="form-control datetime-picker" placeholder="Date From" aria-describedby="edit_date_from_span">
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="edit_date_to_span">To</span>
        <input id="edit_date_to" type="text" class="form-control datetime-picker" placeholder="Date To" aria-describedby="edit_date_to_span">
      </div>
    </div>

    <div class="popModal_footer">
      <button type="button" class="btn-flat-primary" data-popModalBut="ok">Add</button>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  ModalEffets.init();
  /***********************************************************************************
   Dashboard :  Round Show
   ***********************************************************************************/
  roundShow();
  //  Show Round
  function roundShow() {
    var $_$ = go.GraphObject.make;  // for conciseness in defining templates

    // a collection of colors
    var colors = {
      blue: "#00B5CB",
      orange: "#F47321",
      green: "#C8DA2B",
      gray: "#888",
      white: "#F5F5F5",
      red: '#C0392B'
    };

    myDiagram = $_$(go.Diagram, "left_round", {
      allowMove: false,
      allowSelect: false,
      allowHorizontalScroll: false,
      allowVerticalScroll: false,
      isReadOnly: true,  // don't allow user to change the diagram
      initialContentAlignment: go.Spot.Top,
//      "toolManager.mouseWheelBehavior": go.ToolManager.WheelZoom,
      "undoManager.isEnabled": true,
      layout: $_$(go.TreeLayout, {
        angle: 90
      })
    });

    // Define a simple template consisting of the icon surrounded by a filled circle
    myDiagram.nodeTemplate =
        $_$(go.Node, "Auto",
            {
              selectable: false,
              click: function (e, obj) {
                var round_id = obj.data.id;
                $('#round_id').val(round_id);
                console.log(round_id);
              }
            },
            $_$(go.Shape, "Display",
                {
                  fill: colors['blue'],
                  stroke: null,
                  width: 80,
                  height: 40,
                  angle: 180
                },
                new go.Binding("fill", "color")),
            $_$(go.TextBlock, "R1",
                {stroke: "white", font: '9pt Verdana, sans-serif'},
                new go.Binding("text", "text", function (s) {
                  return s;
                })),
            {
              toolTip: $_$(go.Adornment, "Auto",
                  $_$(go.Shape, "TransmittalTape",
                      {fill: "white", stroke: colors["gray"], strokeWidth: 1, angle: 180}),
                  $_$(go.TextBlock, {margin: 8, stroke: "black", font: "bold 14px sans-serif"},
                      new go.Binding("text", "text")))
            }
        );

    myDiagram.nodeTemplateMap.add("Star",
        $_$(go.Node, "Auto",
            {
              selectable: false,
              click: function (e, obj) {
                alert("key:" + obj.data.key + "\n text:" + obj.data.text + "\n desc:" + obj.data.desc + "\n color:" + obj.data.color);
              }
            },
            $_$(go.Shape, "FivePointedStar",
                {
                  fill: colors['blue'],
                  stroke: null,
                  width: 60,
                  height: 60
                },
                new go.Binding("fill", "color")),
            $_$(go.TextBlock, "R1",
                {
                  stroke: "white",
                  font: '12pt Verdana, sans-serif',
                  margin: 8
                },
                new go.Binding("text", "text", function (s) {
                  return s;
                }))
        ));

    myDiagram.nodeTemplateMap.add("Round",  // the default category
        $_$(go.Node, "Spot",
            {
              selectable: false,
              click: function (e, obj) {
//                alert("key:" + obj.data.key + "\n text:" + obj.data.text + "\n color:" + obj.data.color);
              }
            },
            $_$(go.Panel, "Auto",
                $_$(go.Shape, "RoundedRectangle",
                    {fill: colors['blue'], stroke: null},
                    new go.Binding("figure", "figure")),
                $_$(go.TextBlock, "Round",
                    {
                      stroke: "white",
                      font: "bold 12pt Helvetica, Arial, sans-serif",
                      margin: 8,
                      maxSize: new go.Size(160, NaN),
                      editable: false,
                      minSize: new go.Size(60, NaN),
                      textAlign: 'center'
                    },
                    new go.Binding("text", "text").makeTwoWay(),
                    new go.Binding("fill", "color"))
            )
        ));

    // Define a Link template that routes orthogonally, with no arrowhead
    myDiagram.linkTemplate =
        $_$(go.Link,
            {
              routing: go.Link.Orthogonal,
              corner: 5,
              toShortLength: -2,
              fromShortLength: -2,
              selectable: false
            },
            $_$(go.Shape, {strokeWidth: 4, stroke: colors["gray"]})); // the link shape


//    Project_Items
    var Project_Items = new Array();
    <% @project.project_items.each do |item| %>
    Project_Items.push({id: '<%= item.id %>', name: '<%= item.name %>', status: '<%= item.status %>'});
    <% end %>

    var ShapeModel = [{category: "Round", key: 0, text: "轮次展示", color: colors['gray']}];
    var LinkModel = new Array();

    for (var i = 0; i < Project_Items.length; i++) {
      if (i == Project_Items.length - 1) {
        $('#round_item').val(Project_Items[i].id);
        ShapeModel.push({
          key: i + 1,
          id: Project_Items[i].id,
          text: Project_Items[i].name,
          desc: "",
          color: colors['green']
        })
      } else {
        ShapeModel.push({
          key: i + 1,
          id: Project_Items[i].id,
          text: Project_Items[i].name,
          desc: "",
          color: colors['blue']
        });
      }
      LinkModel.push({from: i, to: i + 1})
    }

    myDiagram.model = new go.GraphLinksModel(ShapeModel, LinkModel);
  }

  /***********************************************************************************
   Dashboard :  Dashboard Charts Show
   ***********************************************************************************/
  var average_series = [190, 184, 200, 211, 202, 200, 312, 302, 203];
  var minimum_series = [200, 159, 202, 230, 220, 114, 130, 220, 130];
  var takt_series = [200, 200, 200, 200, 200, 200, 200, 200, 200];

  var capacity_series = [4, 14, 20, 21, 22, 2, 32, 32, 23];
  var hc_series = [4, 14, 20, 21, 22, 2, 32, 32, 23];
  var e1_series = [4, 14, 20, 21, 22, 2, 32, 32, 23];
  var lob_series = [4, 14, 20, 21, 22, 2, 32, 32, 23];

  var cycle_time_categories = ["Apple", "Banana", "Orange", "Carrot", "Potato", "Tomato", "Cod", "Salmon", "Tuna"];
  var capacity_categories = ["Apple", "Banana", "Orange", "Carrot", "Potato", "Tomato", "Cod", "Salmon", "Tuna"];
  var hc_categories = ["Apple", "Banana", "Orange", "Carrot", "Potato", "Tomato", "Cod", "Salmon", "Tuna"];
  var e1_categories = ["Apple", "Banana", "Orange", "Carrot", "Potato", "Tomato", "Cod", "Salmon", "Tuna"];
  var lob_categories = ["Apple", "Banana", "Orange", "Carrot", "Potato", "Tomato", "Cod", "Salmon", "Tuna"];

  var ChartStyle = {
    ChartBackground: "transparent",
    label_font_color: "black",
    tooltips_font_color: "black",
    averageColumnColor: "#2ECC71",
    minimumLineColor: "#E74C3C",
    taktLineColor: "#3498D8",
    capacityColumnColor: "#C0392B",
    hcColumnColor: "#23B7E5",
    e1ColumnColor: "#1C75BF",
    lobColumnColor: "#FF902B"
  };

  var cycle_time_chart = $('#cycle_time_kpi_content').highcharts({
    chart: {
      backgroundColor: ChartStyle.ChartBackground,
      spacingRight: 20
    },
    title: {
      text: "CycleTime", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    subtitle: {
      text: "Sub title", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: cycle_time_categories,
      labels: {
        formatter: function () {
          return this.value;
        },
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    yAxis: {
      title: {
        text: "Time(s)",
        style: {
          color: ChartStyle.label_font_color
        }
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: ChartStyle.label_font_color
      }],
      label: {
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    tooltip: {
      valueSuffix: "s",
      formatter: function () {
        return '<span><b>' + this.x + '</b><br/><b>CycleTime:</b>' + this.y + '</span>'
      },
      style: {
        color: ChartStyle.tooltips_font_color
      },
      useHTML: true
    },
    legend: {
      layout: 'horizontal',
      align: 'center',
      verticalAlign: 'bottom',
      itemStyle: {
        color: ChartStyle.label_font_color
      }
    },
    plotOptions: {
      column: {
        dataLabels: {
          enabled: true,
          color: ChartStyle.label_font_color
        },
        events: {
          click: function (e) {
            //Click
            console.log("click");
          }
        },
        color: ChartStyle.label_font_color,
        borderWidth: "0"
      }
    },
    series: [{
      type: "column",
      name: "Average",
      data: average_series,
      color: ChartStyle.averageColumnColor
    },
      {
        type: "line",
        name: "Minimum",
        data: minimum_series,
        color: ChartStyle.minimumLineColor
      },
      {
        type: "line",
        name: "Takt",
        data: takt_series,
        color: ChartStyle.taktLineColor
      }
    ]
  });

  var capacity_chart = $('#capacity').highcharts({
    chart: {
      backgroundColor: ChartStyle.ChartBackground,
      spacingRight: 20
    },
    title: {
      text: "Capacity", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    subtitle: {
      text: "Sub title", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: capacity_categories,
      labels: {
        formatter: function () {
          return this.value;
        },
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    yAxis: {
      title: {
        text: "pcs(H)",
        style: {
          color: ChartStyle.label_font_color
        }
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: ChartStyle.label_font_color
      }],
      label: {
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    tooltip: {
      valueSuffix: "s",
      formatter: function () {
        return '<span><b>' + this.x + '</b><br/><b>Capacity:</b>' + this.y + '</span>'
      },
      style: {
        color: ChartStyle.tooltips_font_color
      },
      useHTML: true
    },
    legend: {
      layout: 'horizontal',
      align: 'center',
      verticalAlign: 'bottom',
      itemStyle: {
        color: ChartStyle.label_font_color
      }
    },
    plotOptions: {
      column: {
        dataLabels: {
          enabled: true,
          color: ChartStyle.label_font_color
        },
        events: {
          click: function (e) {
            //Click

            console.log("click column bar");
          }
        },
        color: ChartStyle.label_font_color,
        borderWidth: "0"
      }
    },
    series: [{
      type: "column",
      name: "Capacity",
      data: capacity_series,
      color: ChartStyle.capacityColumnColor
    }]
  });

  var hc_chart = $('#hc').highcharts({
    chart: {
      backgroundColor: ChartStyle.ChartBackground,
      spacingRight: 20
    },
    title: {
      text: "HC", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    subtitle: {
      text: "Sub title", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: hc_categories,
      labels: {
        formatter: function () {
          return this.value;
        },
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    yAxis: {
      title: {
        text: "",
        style: {
          color: ChartStyle.label_font_color
        }
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: ChartStyle.label_font_color
      }],
      label: {
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    tooltip: {
      valueSuffix: "s",
      formatter: function () {
        return '<span><b>' + this.x + '</b><br/><b>Capacity:</b>' + this.y + '</span>'
      },
      style: {
        color: ChartStyle.tooltips_font_color
      },
      useHTML: true
    },
    legend: {
      layout: 'horizontal',
      align: 'center',
      verticalAlign: 'bottom',
      itemStyle: {
        color: ChartStyle.label_font_color
      }
    },
    plotOptions: {
      column: {
        dataLabels: {
          enabled: true,
          color: ChartStyle.label_font_color
        },
        events: {
          click: function (e) {
            //Click
          }
        },
        color: ChartStyle.label_font_color,
        borderWidth: "0"
      }
    },
    series: [{
      type: "column",
      name: "HC",
      data: hc_series,
      color: ChartStyle.hcColumnColor
    }]
  });

  var e1_chart = $('#e1').highcharts({
    chart: {
      backgroundColor: ChartStyle.ChartBackground,
      spacingRight: 20
    },
    title: {
      text: "E1", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    subtitle: {
      text: "-- Sub title", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: e1_categories,
      labels: {
        formatter: function () {
          return this.value;
        },
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    yAxis: {
      title: {
        text: "",
        style: {
          color: ChartStyle.label_font_color
        }
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: ChartStyle.label_font_color
      }],
      label: {
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    tooltip: {
      valueSuffix: "%",
      formatter: function () {
        return '<span><b>' + this.x + '</b><br/><b>E1:</b>' + this.y + '</span>'
      },
      style: {
        color: ChartStyle.tooltips_font_color
      },
      useHTML: true
    },
    legend: {
      layout: 'horizontal',
      align: 'center',
      verticalAlign: 'bottom',
      itemStyle: {
        color: ChartStyle.label_font_color
      }
    },
    plotOptions: {
      column: {
        dataLabels: {
          enabled: true,
          color: ChartStyle.label_font_color
        },
        events: {
          click: function (e) {
            //Click
          }
        },
        color: ChartStyle.label_font_color,
        borderWidth: "0"
      }
    },
    series: [{
      type: "column",
      name: "E1",
      data: e1_series,
      color: ChartStyle.e1ColumnColor
    }]
  });

  var lob_chart = $('#lob').highcharts({
    chart: {
      backgroundColor: ChartStyle.ChartBackground,
      spacingRight: 20
    },
    title: {
      text: "LOB", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    subtitle: {
      text: "-- Sub title", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: lob_categories,
      labels: {
        formatter: function () {
          return this.value;
        },
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    yAxis: {
      title: {
        text: "",
        style: {
          color: ChartStyle.label_font_color
        }
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: ChartStyle.label_font_color
      }],
      label: {
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    tooltip: {
      valueSuffix: "%",
      formatter: function () {
        return '<span><b>' + this.x + '</b><br/><b>LOB:</b>' + this.y + '</span>'
      },
      style: {
        color: ChartStyle.tooltips_font_color
      },
      useHTML: true
    },
    legend: {
      layout: 'horizontal',
      align: 'center',
      verticalAlign: 'bottom',
      itemStyle: {
        color: ChartStyle.label_font_color
      }
    },
    plotOptions: {
      column: {
        dataLabels: {
          enabled: true,
          color: ChartStyle.label_font_color
        },
        events: {
          click: function (e) {
            //Click
          }
        },
        color: ChartStyle.label_font_color,
        borderWidth: "0"
      }
    },
    series: [{
      type: "column",
      name: "LOB",
      data: lob_series,
      color: ChartStyle.lobColumnColor
    }]
  });

  /***********************************************************************************
   Dashboard :  PDCA Add Edit Finish Cancel
   ***********************************************************************************/

  $('.pdca-btn-add').click(function () {
    var ItemID = $('#round_item').val();
    var PDCAItem = $('#pdca_item').val();
    var PDCAPoint = $('#pdca_point').val();
    var PDCAEmail = $('#pdca_owner').tagEditor('getTags')[0].tags;
    var Deadline = $('#deadline').val();

    $.ajax({
      url: '/pdca_items',
      type: 'post',
      dateType: 'json',
      data: {
        project_item_id: ItemID,
        item: PDCAItem,
        improvement_point: PDCAPoint,
        emails: PDCAEmail,
        due_time: Deadline
      },
      success: function (data) {
        if (data.result) {
          var PDCAOwner = data.owner;
          var PDCAOwnerHtml = "";
          for (var i = 0; i < PDCAOwner.length; i++) {
            PDCAOwnerHtml += "<span class='label label-primary' title='" + PDCAOwner[i].email + "'>" + PDCAOwner[i].name + "</span>";
          }
          var PDCA = data.pdca;

          $('<tr>' +
              '<td>' + PDCA.title + '</td>' +
              '<td>' + PDCA.content + '</td>' +
              '<td>' + PDCAOwnerHtml + '</td>' +
              '<td>' + new Date(PDCA.due_time).Format("yyyy/MM/dd") + '</td>' +
              '<td title="100"><span class="label label-success">进行中</span></td>' +
              '<td></td>' +
              '<td></td>' +
              '<td id="' + PDCA.id + '"><i class="IconA glyphicon glyphicon-pencil edit-pdca md-trigger" data-modal="edit_pdca" style="color: steelblue;"></i>' +
              '<i class="IconA glyphicon glyphicon-remove-circle cancel-pdca md-trigger" data-modal="cancel_pdca"  style="color: #16A085;"></i>' +
              '<i class="IconA glyphicon glyphicon-ok-sign finish-pdca md-trigger" data-modal="finish_pdca"  style="color: #E67E22;"></i></td><tr>').prependTo('.pdca-tbody');
          $('#add_pdca').removeClass("md-show");
        } else {
          $('<div>' + data.content + '</div>').notifyModal();
        }
      },
      error: function () {
        console.log('PDCA Create Error!');
      }
    });
  });

  $('.pdca-tbody').on('click', '.edit-pdca', function () {
    $('#edit_pdca').addClass("md-show");
    var ID = $(this).parent().attr("id");
    console.log(ID);
    var PDCATbody = $(this).parent().parent().children();
    var PDCAItem = PDCATbody[0].innerHTML;
    var PDCAImprovementPoint = PDCATbody[1].innerHTML;

    var PDCAEmails = new Array();
    for (var i = 0; i < PDCATbody[2].children.length; i++) {
      PDCAEmails.push(PDCATbody[2].children[i].getAttribute("title"));
    }
    var PDCADeadline = PDCATbody[3].innerHTML;
    var PDCAOptions = PDCATbody[7].innerHTML;
    $('#edit_pdca_id').val(ID);
    $('#edit_pdca_item').val(PDCAItem);
    $('#edit_pdca_point').val(PDCAImprovementPoint);

    $('#edit_pdca_owner').parent().find('.tag-editor').empty();

    $('#edit_pdca_owner').tagEditor('addTag', PDCAEmails);

    $('#edit_deadline').val(PDCADeadline);

    $('.pdca-btn-update').click(function () {
      $.ajax({
        url: '/pdca_items/' + ID,
        type: 'put',
        dateType: 'json',
        data: {
          pdca_id: $('#edit_pdca_id').val(),
          item: $('#edit_pdca_item').val(),
          improvement_point: $('#edit_pdca_point').val(),
          saving: "",
          due_time: $('#edit_deadline').val(),
          remark: "",
          emails: $('#edit_pdca_owner').tagEditor('getTags')[0].tags
        },
        success: function (data) {
          if (data.result) {
            $('.md-modal').remove();
            window.location.reload();
          } else {
            $('<div>' + data.content + '</div>').notifyModal();
          }
        },
        error: function () {
          console.log("Something Error!")
        }
      });
    })
  });

  $('.pdca-tbody').on('click', '.finish-pdca', function () {
    $('#finish_pdca').addClass("md-show");
    var ID = $(this).parent().attr("id");
    console.log(ID);

    $('.pdca-btn-finish').click(function () {
      var FinishSaving = $('#finish_pdca_saving').val();
      var FinishRemark = $('#finish_pdca_remark').val();

      console.log(FinishSaving);
      console.log(FinishRemark);

      $.ajax({
        url: '/pdca_items/' + ID,
        type: 'put',
        data: {
          pdca_id: ID,
          status: 200,
          saving: FinishSaving,
          remark: FinishRemark
        },
        success: function (data) {
          console.log(data);
          if (data.result) {
            /*js load*/
            window.location.reload();
          } else {
            $('<div>' + data.content + '</div>').notifyModal();
          }
        },
        error: function () {
          console.log("Something Error!");
        }
      });
    });
  });

  $('.pdca-tbody').on('click', '.cancel-pdca', function () {
    $('#cancel_pdca').addClass("md-show");
    var ID = $(this).parent().attr("id");
    console.log(ID);

    $('.pdca-btn-cancel').click(function () {
      var CancelRemark = $('#cancel_pdca_remark').val();
      $.ajax({
        url: '/pdca_items/' + ID,
        type: 'put',
        data: {
          pdca_id: ID,
          status: 300,
          remark: CancelRemark
        },
        success: function (data) {
          console.log(data);
          if (data.result) {
            /*js load*/
            window.location.reload();
          } else {
            $('<div>' + data.content + '</div>').notifyModal();
          }
        },
        error: function () {
          console.log("Something Error!");
        }
      });
    })
  });

  /***********************************************************************************
   Project :  Project Basic Info
   ***********************************************************************************/
  $('.project-info-save').click(function () {
    var ProjectID = '<%= @project.id %>';
    var ProjectName = $('#project_info_name').val();
    var ProjectDesc = $('#project_info_desc').val();
    $.ajax({
      url: '/projects/' + ProjectID,
      type: 'put',
      dateType: 'json',
      data: {
        name: ProjectName,
        description: ProjectDesc
      },
      success: function (data) {
        console.log(data);
      },
      error: function () {
        console.log("Something Error!");
      }
    });
  });

  /*Plan Empty*/
  $('.project-plan-add').click(function () {
    $('.project-plan-add').popModal({
      html: $('#plan_content').html(),
      placement: 'bottomRight',
      showCloseBtn: true,
      onDocumentClickClose: false,
      onOkBut: function () {
        var PlanName = $('#edit_plan_name').val();
        var PlanFrom = $('#edit_date_from').val();
        var PlanTo = $('#edit_date_to').val();
        var ProjectID = $('#project_id').val();

        console.log(PlanName);
        console.log(PlanFrom);
        console.log(PlanTo);

        if (PlanName == "") {
          $('<div> Plan Name Can\'t be Empty.</div>').notifyModal();
        } else if (PlanFrom == "") {
          $('<div> Plan Date From Can\'t be Empty.</div>').notifyModal();
        } else if (PlanTo == "") {
          $('<div> Plan Date To Can\'t be Empty.</div>').notifyModal();
        } else {
          $.ajax({
            url: '/plans',
            type: 'post',
            dateType: 'json',
            data: {
              project_id: ProjectID,
              title: PlanName,
              start_time: PlanFrom,
              end_time: PlanTo
            },
            success: function (data) {
              console.log(data);
              if (data.result) {
                $('<tr><td>' + PlanName + '</td><td>' + PlanFrom + '</td><td>' + PlanTo + '</td>' +
                    '<td><i class="glyphicon glyphicon-pencil IconA" style="color: #2C3E50;"></i>' +
                    ' <i class="glyphicon glyphicon-trash IconA" style="color:#C0392B;"></i></td></tr>').prependTo('.plan-tbody').ready(function () {
                });

                $('.btn-plan-next').html("Next");
              } else {
                $('<div>' + data.content + '</div>').notifyModal();
              }
            },
            error: function () {
              console.log("Error");
            }
          });
        }
      },
      onLoad: function () {
        $('.datetime-picker').datetimepicker({
          lang: 'ch',
          timepicker: false
        });
      }
    })
  });


  /***********************************************************************************
   Menu :  Menu Options
   ***********************************************************************************/
  /*Menu*/
  $(".wheel-button").wheelmenu({
    trigger: "hover",
    animation: "fly",
    animationSpeed: "fast"
  });

  $('.improve-round').click(function () {
    window.location.href = "http://" + window.location.host + "/project_items/" + $('#round_item').val();
  });

  /***********************************************************************************
   Dashboard :  Dashboard PDCA Check Email
   ***********************************************************************************/
  /*Create PDCA Check Email*/
  $('#pdca_owner').tagEditor({
    placeholder: 'Owner',
    beforeTagSave (field, editor, tags, tag, val){
      CheckEmail('#pdca_owner', val);
    }
  });

  /*Update PDCA Check Email*/
  $('#edit_pdca_owner').tagEditor({
    placeholder: 'Edit Owner',
    beforeTagSave (field, editor, tags, tag, val){
      CheckEmail('#edit_pdca_owner', val);
    }
  });

  function CheckEmail(div, val) {
    $.ajax({
      url: '/users/check_email',
      type: 'get',
      data: {
        email: val
      },
      success: function (data) {
        console.log(data);
        if (data.result) {

        } else {
          $(div).tagEditor('removeTag', val);
          $('<div>' + val + ' is not exist.</div>').notifyModal();
        }
      },
      error: function () {
        console.log("ADD PDCA User Wrong!");
        $(div).tagEditor('removeTag', val);
        $('<div>Something Error!</div>').notifyModal();
      }
    })
  }
</script>

