<p id="notice"><%= notice %></p>

<h1>Project Items</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tenant</th>
      <th>Project</th>
      <th>Rank</th>
      <th>Status</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_items.each do |project_item| %>
      <tr>
        <td><%= project_item.user %></td>
        <td><%= project_item.tenant %></td>
        <td><%= project_item.project %></td>
        <td><%= project_item.rank %></td>
        <td><%= project_item.status %></td>
        <td><%= project_item.source_id %></td>
        <td><%= link_to 'Show', project_item %></td>
        <td><%= link_to 'Edit', edit_project_item_path(project_item) %></td>
        <td><%= link_to 'Destroy', project_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Item', new_project_item_path %>
