<style>
  .label-primary {
    margin-right: 5px;
  }
</style>
<div class="project_stepy"></div>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="improve_content" style="display: none;">
    <li role="presentation" class="active">
      <a href="#round_pdca" aria-controls="round_pdca" role="tab" data-toggle="tab">PDCA</a>
    </li>
    <li role="presentation">
      <a href="#round_ie_structure" aria-controls="round_ie_structure" role="tab" data-toggle="tab">IE Structure</a>
    </li>

    <li role="presentation">
      <a href="#round_kpi_setting" aria-controls="round_kpi_setting" role="tab" data-toggle="tab"> KPI Setting</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!--PDCA-->
    <div role="tabpanel" class="tab-pane active step_content" id="round_pdca">

      <div class="round-add-pdca">
        <button class="btn-flat-success">
          <i class="glyphicon glyphicon-plus-sign"></i>
          Add PDCA
        </button>
      </div>

      <div class="row" style="margin:50px 0 0 0;">
        <table class="table table-default">
          <thead>
          <tr>
            <th>Item</th>
            <th>Improvement Point</th>
            <th>Owner</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Saving</th>
            <th>Remark</th>
            <!--<th>Options</th>-->
          </tr>
          </thead>
          <tbody class="round-pdca-tbody">
          <% @project_item.pdca_items.each do |pdca_item| %>
              <tr id="<%= pdca_item.id %>">
                <td><%= pdca_item.title %></td>
                <td><%= pdca_item.content %></td>
                <td>
                  <% pdca_item.task_users.each do |tu| %>
                              <span class="label label-primary" style="cursor: pointer;" title=" <%= tu.user.blank? ? '' : tu.user.email %>">
                                <%= tu.user.blank? ? '' : tu.user.name %>
                              </span>
                  <% end %>
                </td>
                <td><%= pdca_item.due_time %></td>
                <td id="<%= pdca_item.status %>">
                          <span class="label label-success">
                            <%= TaskStatus.display pdca_item.status %></span>
                </td>
                <td><%= pdca_item.result %></td>
                <td><%= pdca_item.remark %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <footer class="footer">
        <button type="submit" class="btn-flat-success btn-next btn-round-pdca">
          Next
        </button>
      </footer>
    </div>

    <!--IE Structure-->
    <div role="tabpanel" class="tab-pane step_content" id="round_ie_structure">
      <input type="hidden" id="round_diagram_id">

      <div class="row structure-title" style="margin: 0;border-bottom: 1px solid #23B7E5;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div id="myPaletteDiv"></div>
        </div>
        <div class="col-lg-6 col-mc-6 col-sm-6 col-xs-12" style="text-align: right; padding-right: 26px;">
          <button id="loadModel" class="btn-flat-success" onclick="load()" style="width: 140px; height: 40px; margin-top:8px;">Load</button>
        </div>
      </div>

      <div class="structure-content">
        <div style="display: inline-block; padding: 5px; width:80%;">
          <div id="myDiagramDiv" style="border: 1px solid #23B7E5;"></div>
        </div>
        <div style="display: inline-block; padding: 5px; width:18%">
          <div id="myTreeView" style="border: solid 1px #23B7E5;"></div>
        </div>
      </div>

      <!--will display-->
      <textarea id="mySavedModel" style="width:100%;height:300px;margin-top: 100px;"></textarea>

      <footer class="footer">
        <button type="submit" class="btn-flat-success btn-next btn-ie-structure-next">
          Next
        </button>
      </footer>
    </div>

    <!--Kpi Setting-->
    <div role="tabpanel" class="tab-pane step_content" id="round_kpi_setting">
      <div id="kpi_settings" class="panel-group" role="tablist" aria-multiselectable="true"></div>

      <footer class="footer">
        <button type="submit" class="btn-flat-success btn-next btn-kpi-setting-next">
          Finish
        </button>
      </footer>
    </div>
  </div>
</div>

<!--Add PDCA-->
<div class="md-modal md-effect-1" id="round_add_pdca">
  <div class="md-content">
    <h4>ADD PDCA</h4>
    <div class="pull-right md-close" style="margin-top: -50px;margin-right: -20px;">
      <i style="color: #E67E22;" class="glyphicon glyphicon-remove"></i>
    </div>

    <div class="round-pdca-list">
      <input type="text" class="form-control" id="round_pdca_item" placeholder="PDCA Item">

      <textarea type="text" id="round_pdca_point" class="form-control" placeholder="Imptovement Point" style="margin-top: 10px; margin-bottom: 10px;"></textarea>

      <textarea class="form-control" id="round_pdca_owner"></textarea>

      <input type="text" id="round_deadline" class="form-control date-picker" placeholder="Deadline" style="margin-top: 10px;">
    </div>

    <div class="round-pdca-btn">
      <button class="btn-flat-primary round-pdca-btn-add">
        ADD
      </button>
    </div>
  </div>
</div>

<div class="md-overlay"></div>

<!--Target-->
<!--<div style="display: none;">-->
<!--<div id="round-target-modal">-->
<!--<div class="popModal_content">-->
<!--<div class="input-group">-->
<!--<span class="input-group-addon" id="round-target-name">target name</span>-->
<!--<input type="text" class="form-control input-round-target-name" placeholder="Target Name" aria-describedby="round-target-name">-->
<!--</div>-->

<!--<div class="input-group" style="margin-top: 5px;">-->
<!--<span class="input-group-addon" id="round-target-value">target value</span>-->
<!--<input type="number" class="form-control input-round-target-value" placeholder="Target Value" aria-describedby="round-target-value">-->
<!--</div>-->
<!--</div>-->

<!--<div class="popModal_footer">-->
<!--<button type="button" class="btn-flat-primary" data-popModalBut="ok">Add</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div style="display: none;">
  <div id="round-target-modal">
    <div class="popModal_content">
      <div class="input-group">
        <span class="input-group-addon" id="round-target-name">target name</span>
        <input type="text" class="form-control input-round-target-name" placeholder="Target Name" aria-describedby="round-target-name">
      </div>

      <div class="input-group" style="margin-top: 5px;">
        <span class="input-group-addon" id="round-target-value">target value</span>
        <input type="number" class="form-control input-round-target-value" placeholder="Target Value" aria-describedby="round-target-value">
      </div>
    </div>

    <div class="popModal_footer">
      <button type="button" class="btn-flat-primary" data-popModalBut="ok">Add</button>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  var myDiagram = "";

  /******************************************************************************
   PDCA
   ******************************************************************************/
  $('.btn-round-pdca').click(function () {
    var nowStep = $('.project_stepy').getStep();
    nowStep++;
    $('.project_stepy').setStep(nowStep);

    click_tabs("improve_content", "round_ie_structure");


    Settings.round_layout('<%= @project_item.diagram.id %>');

    myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
    // share all of the data with the tree view
    myTreeView.model.nodeDataArray = myDiagram.model.nodeDataArray;

  });

  $('.round-add-pdca').click(function () {
    $('#round_add_pdca').addClass('md-show');
    Settings.ClosePop('#round_add_pdca');
  });

  $('.round-pdca-btn-add').unbind('click').click(function () {
    var ItemID = '<%= @project_item.id %>';
    var PDCAItem = $('#round_pdca_item').val();
    var PDCAPoint = $('#round_pdca_point').val();
    var PDCAEmail = $('#round_pdca_owner').tagEditor('getTags')[0].tags;
    var Deadline = $('#round_deadline').val();

    $.ajax({
      url: '/pdca_items',
      type: 'post',
      dateType: 'json',
      data: {
        project_item_id: ItemID,
        item: PDCAItem,
        improvement_point: PDCAPoint,
        emails: PDCAEmail,
        due_time: Deadline
      },
      success: function (data) {
        console.log(data);

        if (data.result) {
          var PDCAOwner = data.owner;
          var PDCAOwnerHtml = "";
          for (var i = 0; i < PDCAOwner.length; i++) {
            PDCAOwnerHtml += "<span class='label label-primary' title='" + PDCAOwner[i].email + "'>" + PDCAOwner[i].name + "</span>";
          }

          var PDCA = data.pdca;

          $('<tr>' +
              '<td>' + PDCA.title + '</td>' +
              '<td>' + PDCA.content + '</td>' +
              '<td>' + PDCAOwnerHtml + '</td>' +
              '<td>' + new Date(PDCA.due_time).Format("yyyy/MM/dd") + '</td>' +
              '<td title="100"><span class="label label-success">进行中</span></td>' +
              '<td></td>' +
              '<td></td>' +
              '<tr>').prependTo('.round-pdca-tbody');
          $('#round_add_pdca').removeClass("md-show");
        } else {
          $('<div>' + data.content + '</div>').notifyModal();
        }
      },
      error: function () {
        console.log('PDCA Create Error!');
      }
    });
  });

  /******************************************************************************
   IE Structure
   ******************************************************************************/

  $('.btn-ie-structure-next').click(function () {
    var nowStep = $('.project_stepy').getStep();
    nowStep++;
    $('.project_stepy').setStep(nowStep);
    click_tabs("improve_content", "round_kpi_setting");

    Settings.add_kpi_target('.add-kpi-target', '#round-target-modal', '.input-round-target-name', '.input-round-target-value');
    $('#CycleTime').collapse('show');
  });

  /**********************************************************************************
   * KPI Settings
   ************************************************************************************/

  Settings.default_target_save();

  $('.btn-kpi-setting-next').click(function () {
    window.location.href = "http://" + window.location.host + "/projects/" + <%= @project_item.project.id %>;
  });

  /*Load Step*/
  $(".project_stepy").loadStep({
    size: "large",
    color: "green",
    steps: [{
      title: "PDCA",
      content: "Project Basic Info"
    }, {
      title: "IE Structure",
      content: "IE Structure"
    }, {
      title: "KPI Setting",
      content: "Set KPI Target"
    }]
  });

  var ScreenHeight = $(window).height();
  var ScreenWidth = $(window).width();

  $('#myDiagramDiv').css({height: (ScreenHeight * 0.58) + 'px'});
  $('#myTreeView').css({height: (ScreenHeight * 0.58) + 'px'});

  $(window).load(function () {
    $.ajax({
      url: "/project_items/" + '<%= @project_item.id %>' + '/nodes',
      type: 'get',
      dateType: 'json',
      success: function (data) {
        console.log(data);
        if (data.result) {
          $('#round_diagram_id').val(data.diagram.id);
          $('#mySavedModel').val(data.diagram.layout);

          for (var kpi in data.settings) {
            Settings.add_target(data.settings[kpi]);
          }
        } else {
          $('<div>' + data.content + '</div>').notifyModal();
        }
      },
      error: function () {
        console.log("Something Error!");
      }
    });
  });

  function load() {
    save();

    myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);

    // share all of the data with the tree view
    myTreeView.model.nodeDataArray = myDiagram.model.nodeDataArray;

    // share the UndoManager too!
    myTreeView.model.undoManager = myDiagram.model.undoManager;
  }

  function save() {
    document.getElementById("mySavedModel").value = myDiagram.model.toJson();

    myDiagram.isModified = false;

    $.ajax({
      url: '/diagrams/' + $('#round_diagram_id').val(),
      type: 'put',
      dataType: 'json',
      data: {
        parse: true,
        diagram: {
          layout: myDiagram.model.toJson()
        }
      }
    });
  }

  function click_tabs(project_id, content_id) {
    $('#' + project_id + ' a[href="#' + content_id + '"]').tab('show');
  }

  /***********************************************************************************
   Check Email
   ***********************************************************************************/
  $('#round_pdca_owner').tagEditor({
    placeholder: 'Owner',
    beforeTagSave: function (field, editor, tags, tag, val) {
      Settings.CheckEmail('#round_pdca_owner', val);
    }
  });

  /*Update PDCA Check Email*/
  $('#edit_pdca_owner').tagEditor({
    placeholder: 'Edit Owner',
    beforeTagSave: function (field, editor, tags, tag, val) {
      Settings.CheckEmail('#edit_pdca_owner', val);
    }
  });

  $('.date-picker').datetimepicker({
    lang: 'ch',
    timepicker: false
  });

  Settings.init();
</script>