<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project_item.user %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @project_item.tenant %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_item.project %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @project_item.rank %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project_item.status %>
</p>

<p>
  <strong>Source:</strong>
  <%= @project_item.source_id %>
</p>

<%= link_to 'Edit', edit_project_item_path(@project_item) %> |
<%= link_to 'Back', project_items_path %>
